# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

In [2]:
my_string = "Steve"
my_string = my_string.lower()
print(my_string)

x = 1 
x += 1
x = x + 1

Steve

##### Using 'or' in if statements

In [2]:
# covered yesterday

##### Using 'and' in if statements

In [3]:
# covered yesterday

##### Using both 'or' and 'and' in if statements

In [4]:
# covered yesterday

### String Manipulation

##### .lstrip()

In [5]:
# string.lstrip()
name = "  Zak  "
name = name.lstrip()
print(name)

Zak

##### .rstrip()

In [6]:
# string.rstrip()
name = "  Zak  "
name = name.rstrip()
print(name)

  Zak

##### .strip()

In [7]:
# string.strip()
name = "  Zak  "
name = name.strip()
print(name)

Zak

In [16]:
name = "Kenny"
name = name.rstrip("yneK")
print(name)

Key

##### .title()

In [20]:
# string.title()
my_string = "Hey ho LEt's go"
print(my_string.lower())
print(my_string.upper())
print(my_string.title())
print(my_string)

hey ho let's go
HEY HO LET'S GO
Hey Ho Let'S Go
Hey ho LEt's go

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [ ]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

### Working With Lists

##### min()

In [23]:
# min(list)
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
my_min = min(my_list)
print(my_min)

1

##### max()

In [24]:
# max(list)
my_max = max(my_list)
print(my_max)

846

##### sum()

In [25]:
# sum(list)
my_sum=sum(my_list)
print(my_sum)

1336

In [26]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

##### sorted()

In [36]:
# sorted(list)
# returns a copy of the array in sorted order  THIS IS OUT OF PLACE
my_list = [88, 56, 235, 4, 55, 846, 51, 1]
print("here ",sorted(my_list))
new_list=sorted(my_list)
print(my_list)
print(new_list)

rev_list=print(sorted(my_list, reverse=True))

here  [1, 4, 51, 55, 56, 88, 235, 846]
[88, 56, 235, 4, 55, 846, 51, 1]
[1, 4, 51, 55, 56, 88, 235, 846]
[846, 235, 88, 56, 55, 51, 4, 1]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [37]:
# list.sort() #WORKS IN PLACE
print(my_list.sort())
print(my_list)

None
[1, 4, 51, 55, 56, 88, 235, 846]

In [38]:
my_list.sort(reverse=True)
print(my_list)

[846, 235, 88, 56, 55, 51, 4, 1]

##### Copying a List

In [42]:
# [:] copies a list, doesn't alter original
my_list1 =[1,2,3,4,5]
my_list2 = my_list1  #This is dangerous because the lists are both the same object
my_list1.append(6)
print(my_list2)

print(id(my_list1))
print(id(my_list2))

[1, 2, 3, 4, 5, 6]
139949103466752
139949103466752

In [44]:
my_list1 =[1,2,3,4,5]
my_list2 = my_list1.copy()
print(id(my_list1))
print(id(my_list2))

139949103466496
139949103466752

In [45]:
my_list1 =[1,2,3,4,5]

my_list2 = my_list1[:]
print(id(my_list1))
print(id(my_list2))

139949103467264
139949103060864

##### 'in' keyword

In [48]:
if 5 in [1,2,3,4]:
    print("hey")
else:
    print("bye")

bye

In [ ]:
for n in [1,2,3,4]:
    if n in [7,8,9]:
        print(its here)

In [ ]:
def my_in():
    for num in [1,2,3,4]:
        if num == 5:
            return True
    return false

##### 'not in' keyword

In [49]:
5 not in [3,4,7]

True

##### Checking an Empty List

In [64]:
bool([1,2,3])

True

In [62]:
my_list = []
if not my_list:
    print("it's empty")
if my_list:
    print('I have stuff')

if len(my_list) == 0:
    print("I am empty")
if my_list == []:
    print("i am empty")

it's empty
I am empty
i am empty

##### Removing Instances with a Loop

In [68]:
# while, remove
names = ["Kristina", "Chelsey", "Kristina", "Wade", "Ryan"]

names.remove("Kristina")
names

['Chelsey', 'Kristina', 'Wade', 'Ryan']

In [70]:
names = ["Kristina", "Chelsey", "Kristina", "Wade", "Ryan"]

while "Kristina" in names:
    names.remove("Kristina")
    print('the list is now', names)
print('final list is', names)

the list is now ['Chelsey', 'Kristina', 'Wade', 'Ryan']
the list is now ['Chelsey', 'Wade', 'Ryan']
final list is ['Chelsey', 'Wade', 'Ryan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [77]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)

print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [79]:
nums = []
for i in range(100):
    nums.append(i)
    
print(nums)

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [83]:
nums =[]
for i in range(10):
    nums.append(i**2)
print(nums)

nums_comp = [i**2 for i in range(10)]
print(nums_comp)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [93]:
names = ["Frances", "Zavier", "Kenny", "Jayden", "David", "Caleb"]
first_char_comp = [name[0] for name in names]
print(first_char_comp)

['F', 'Z', 'K', 'J', 'D', 'C']

In [94]:
# What is we needed an if statement??????
five_letter_names = []
for name in names:
    if len(name)==5:
        five_letter_names.append(name)
    else:
        five_letter_names.append("Not a 5 letter name")
print(five_letter_names)


# as List comp  .. if without an else
five_letter_names_comp = [name for name in names if len(name)==5]
print(five_letter_names_comp)

five_letter_names_comp_with_else = [name if len(name)==5 else "Not 5" for name in names]
print(five_letter_names_comp_with_else)

['Not a 5 letter name', 'Not a 5 letter name', 'Kenny', 'Not a 5 letter name', 'David', 'Caleb']
['Kenny', 'David', 'Caleb']
['Not 5', 'Not 5', 'Kenny', 'Not 5', 'David', 'Caleb']

In [95]:
la = [1,2,3,4,5]
lb = ["A","B","C","D"]

let_num=[]
for number in la:
    for letter in lb:
        let_num.append(f'{number}{letter}')
print(let_num)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [96]:
let_num_comp = [f'{number}{letter}' for number in la for letter in lb]
print(let_num_comp)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [97]:
sentence = ["Today","is","the","day","that's","gonna","bring","me","back","to","you"]

letters=[]
for word in sentence:
    for letter in word:
        letters.append(letter)
        
print(letters)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 't', 'h', 'a', 't', "'", 's', 'g', 'o', 'n', 'n', 'a', 'b', 'r', 'i', 'n', 'g', 'm', 'e', 'b', 'a', 'c', 'k', 't', 'o', 'y', 'o', 'u']

In [100]:
sentence = ["Today","is","the","day","that's","gonna","bring","me","back","to","you"]
letters_comp = [letter for word in sentence for letter in word]
print(letters_comp)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 't', 'h', 'a', 't', "'", 's', 'g', 'o', 'n', 'n', 'a', 'b', 'r', 'i', 'n', 'g', 'm', 'e', 'b', 'a', 'c', 'k', 't', 'o', 'y', 'o', 'u']

In [101]:
# Ex.............

# given a list use a list comprehension to give me the 
# last letter of each word capitalized
my_list=["steve","susan","jake","troy"]
#output 
#["E", "N", "E", "Y"]

new_list = [name[-1].upper() for name in my_list]
print(new_list)

['E', 'N', 'E', 'Y']

In [102]:
my_list = [0,1,2,3]
my_list[2]=44
my_list

[0, 1, 44, 3]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [104]:
my_tup = (1,2,3)
type(my_tup)
my_tup = 1,2,3
type(my_tup)

tuple

In [ ]:
#emnpty tuples... basically useless
t2 = tuple()
t3 = ()

In [106]:
my_tup = ("Ryan", "Tilahun", "Wade", "Zak")
my_tup[2]

'Wade'

In [107]:
my_tup.index("Wade")

2

In [108]:
my_tup[2]="Alex"

TypeError: 'tuple' object does not support item assignment

In [109]:
my_tup.append("Alex")
my_tup

AttributeError: 'tuple' object has no attribute 'append'

In [110]:
new_tup = my_tup + ("Chelsey", "Caleb")
print(new_tup)

('Ryan', 'Tilahun', 'Wade', 'Zak', 'Chelsey', 'Caleb')

In [112]:
tuple(enumerate(new_tup))

((0, 'Ryan'),
 (1, 'Tilahun'),
 (2, 'Wade'),
 (3, 'Zak'),
 (4, 'Chelsey'),
 (5, 'Caleb'))

##### sorted()

In [115]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [114]:
sorted_tup = tuple(sorted(my_tup))
print(sorted_tup)

('Ryan', 'Tilahun', 'Wade', 'Zak')

##### Adding values to a Tuple

In [17]:
#Reconstruct the tuple and add values
done above

In [121]:
tup4 = (1,2,3,["A","B","C"],4)
tup4[3][0]="Hello"
tup4

TypeError: 'tuple' object does not support item assignment

## Functions

##### User-Defined vs. Built-In Functions

In [133]:
# build-in functions
    # print, type, help, sorted, list, int, float, tuple, str, abs, min, max

def say_hello():
    return "Hello World"
    

print(type(say_hello()))
print("Goodbye")

<class 'str'>
Goodbye

##### Accepting Parameters

In [139]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name, last_name):
    print(f"{first_name} {last_name}")

print_full_name(last_name="Beier", first_name="Kevin")

Kevin Beier

##### Default Parameters

In [143]:
def agent_name(first, last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")

agent_name('James')

Your agent name is Bond, James Bond

##### Making an Argument Optional

In [146]:
def make_name(first, middle='', last='Ed'):
    print(f"Hello {first} {middle} {last}")
make_name('Mister')

Hello Mister  Ed

In [149]:
def what_datatype():
    return ['Hey',123,(4,5)]
what_datatype()[1]/2

123

In [150]:
def dead_code():   #Unreachable Code
    print("Hello")
    return
    print("Goodbye") # Unreachable!!!!!

dead_code()

Hello

#####  \*args \**kwargs

In [153]:
def my_func(name, *args):
    print(name)
    for arg in args:
        print('The first/next arg is:', arg, type(arg))

my_func("Shazaib",2,4,6,8,10)

Shazaib
The first/next arg is: 2 <class 'int'>
The first/next arg is: 4 <class 'int'>
The first/next arg is: 6 <class 'int'>
The first/next arg is: 8 <class 'int'>
The first/next arg is: 10 <class 'int'>

In [155]:
def my_func(name, **kwargs):
    print(name)
    for key in kwargs:
        print(key, kwargs[key])

my_func('Kevin', height=72, weight=145, foods=["pizza", "tacos","dimsum","sushi"])

Kevin
height 72
weight 145
foods ['pizza', 'tacos', 'dimsum', 'sushi']

In [19]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

# Creating a start, stop, step function

In [159]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)

my_range(10, step=4)

0
4
8

##### Returning Values

##### *args

##### Docstring

In [161]:
def my_function(name,age):
    '''
    takes in a an and an age and returns a formatted string and tells the names age
    [name] = string
    [age] = integer
    '''
    return f"{name} is {age}"

In [162]:
help(my_function)

Help on function my_function in module __main__:

my_function(name, age)
    takes in a an and an age and returns a formatted string and tells the names age
    [name] = string
    [age] = integer

##### Using a User Function in a Loop

In [163]:
def add_two(n):
    print(n+2)
    

while True:
    ask = int(input("What is your number???"))
    add_two(ask)
    response=input("Ready to quit? [Type quit]")
    if response.lower()=="quit":
        break

What is your number???12
14
Ready to quit? [Type quit]
What is your number???5
7
Ready to quit? [Type quit]quit

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [1]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
def add_names(first_names, last_names):
    full_names = []
    for index in range(len(first_names)):
        full_names.append(first_names[index] + " " + last_names[index])
    return full_names

print(add_names(first_name, last_name))

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

In [4]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
def add_names_comp(first_names, last_names):
    return [first_names[index] + " " + last_names[index] for index in range(len(first_names))]

print(add_names_comp(first_name, last_name))

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [9]:
#placement of variable declaration matters
var1 = 'A'

def my_function():
    print("inside function", var1)
    var2 = "B"
    print("inside function", var2)

my_function()
print(var2)

inside function A
inside function B

NameError: name 'var2' is not defined

In [11]:
a_list = ["A","B","C"]

for letter in a_list:
    print(letter)

print("outside",letter)

A
B
C
outside C

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [22]:
# Use the following list - [1,11,14,5,8,9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>