# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Int & Float Assignments

##### Assigning int

In [6]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [7]:
my_float = 123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [10]:
print(2 + 3)
my_var1 = 2
my_var2 = 3
print(my_var1+my_var2)

5
5

In [11]:
my_new_num = 123
my_new_num += 2
my_new_num = my_new_num + 2
print(my_new_num)

127

##### Subtraction

In [13]:
num1 = 2
num2 = 5.7

In [17]:
result_diff = num1 - num2
print(result_diff)
result_diff -= 3
print(result_diff)

-3.7
-6.7

##### Multiplication

In [19]:
result_prod = num1 * num2 
print(result_prod)
result_prod*=2
print(result_prod)

11.4
22.8

##### Division

In [21]:
results_div = 4 / 2
print(results_div)

2.0

##### Floor Division

In [22]:
result_floor = 5//2
print(result_floor)

2

##### Modulo

In [23]:
result_mod = 5 % 2
print(result_mod)

1

In [30]:
7 % 2 == 0

False

##### Exponential

In [25]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [31]:
name = "Kevin"
name = 'Kevin'
print(name)

Kevin

In [49]:
word = "Kevin's"
word = 'Kevin\'s'
print(word)

word = "\"Kevin's jacket is awesome\", he said"

name = """
hey
there new
"he's so smart"
guy
"""

print(name)

Kevin's

hey
there new
"he's so smart"
guy

##### print() <br>
<p>Don't forget about end=' '</p>

In [45]:
print(name, "is my name","hey","Hey","we","are","here", end=" ** " ,sep="$$")
print("the second line")

Kevin$$is my name$$hey$$Hey$$we$$are$$here ** the second line

hey
None

##### String Concatenation

In [55]:
first = "Kristen"
last = "Nakamoto"
full_name = first+ " " + last
print(full_name)
full_name+=" is a great student"
print(full_name)

Kristen Nakamoto
Kristen Nakamoto is a great student

##### Type Conversion

In [60]:
num1 = 3
num2 = "4"

# int() str() list() dict() tuple() set() float()

print(str(num1) + num2)

34

##### input()

In [65]:
age = int(input("What is your age?"))

print(age)
print(type(age))

What is your age?12
12
<class 'int'>

##### format()

In [68]:
age = int(input("What is your age?"))
result_string ='You are {} years old and you are getting wiser!'.format(age)
print(result_string)

What is your age?23
You are 23 years old and you are getting wiser!

#### f-strings

In [70]:
age = int(input("What is your age?"))
x=123
result_string = f'You are {age} years old and getting wiser! {x}' 
print(result_string)

What is your age?23
You are 23 years old and getting wiser! 123

##### Old Way (python 2)

In [71]:
age = "35"
result_str = 'You are %s and you look great for your age!' %age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [88]:
5==5

True

In [87]:
bool(5)

True

### If Statements

In [92]:
num1 = 2
num2 = 10

if num1 != num2:
    #the code block
    print("not equal")
else:
    print("equal")

equal

In [112]:
num1 = 20
num2 = 2

if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
else:
    print("equal to")

num1 is greater

In [102]:
True and False

False

In [103]:
num2 == 4 and num1 == 20

False

In [109]:
False or False or False or False

False

In [105]:
num2 == 2 or num1 == 20

True

In [114]:
#Ternary Operator ... inline if statements

#  [value if true] [if] [boolean] [else] [value if false]

name = "john"

my_num = 5 if name=="steve" else 0
print(my_num)

my_num = 5 if name=="steve" else 10 if name=="john" else 0
print(my_num)

0
10

##### 'is' keyword

In [116]:

#only use when asking if something is None
y = None
if y is None:
    print("y is None")

y is None

##### 'in' keyword

In [119]:
# check if a char is in a name
char_name = "Max Payne"
if "Max" in char_name:
    print("the character who lost evertyhing...")

the character who lost evertyhing...

##### 'not in' keyword'

In [129]:
sega_char = "Sonic"
if 'S' not in sega_char.upper():
    print("s in not in the name ... !!!")
print(sega_char)

Sonic

True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [133]:
"you have a p" if "p" in input("what is your name? ").lower() else "no p"

what is your name? no letter

'no p'

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [138]:
# for [placeholder] in [iterable]

name = "Zavier"
for letter in name:
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is Z
another line
the next letter is a
another line
the next letter is v
another line
the next letter is i
another line
the next letter is e
another line
the next letter is r
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [144]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [150]:
x, y = ["a","b"]
print(x)
print(y)

a
b

In [157]:
foods = ["pizza","tacos","dimsum","sushi", "123"]

for food in foods:
    print(food.title())
    print(foods)

Pizza
['pizza', 'tacos', 'dimsum', 'sushi', '123']
Tacos
['pizza', 'tacos', 'dimsum', 'sushi', '123']
Dimsum
['pizza', 'tacos', 'dimsum', 'sushi', '123']
Sushi
['pizza', 'tacos', 'dimsum', 'sushi', '123']
123
['pizza', 'tacos', 'dimsum', 'sushi', '123']

In [153]:
len(foods)

4

In [160]:
foods[1]

'tacos'

In [161]:
for index in range(len(foods)):
    print(index)
    print(foods[index])

0
pizza
1
tacos
2
dimsum
3
sushi
4
123

In [163]:
for index, food in enumerate(foods):
    print(f"at index {index} the value is {food}")

at index 0 the value is pizza
at index 1 the value is tacos
at index 2 the value is dimsum
at index 3 the value is sushi
at index 4 the value is 123

##### Break Statement

In [165]:
for n in range(10):
    if n == 5:
        break;
    print("move to next")

move to next
move to next
move to next
move to next
move to next

In [166]:
for n in range(10):
    if n == 5:
        continue;
    print("move to next")

move to next
move to next
move to next
move to next
move to next
move to next
move to next
move to next
move to next

##### Pass Statement

In [169]:
for food in foods:
    pass

##### Double For Loops

In [175]:
for i in range(5):
    for j in range(5):
        print(f'i={i} j={j} ')
        
    print()

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=0 j=4

i=1 j=0
i=1 j=1
i=1 j=2
i=1 j=3
i=1 j=4

i=2 j=0
i=2 j=1
i=2 j=2
i=2 j=3
i=2 j=4

i=3 j=0
i=3 j=1
i=3 j=2
i=3 j=3
i=3 j=4

i=4 j=0
i=4 j=1
i=4 j=2
i=4 j=3
i=4 j=4

### While Loops

In [ ]:
# while [boolean]:
    #code block

In [180]:
num = 0
while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [182]:
while True:
    print("hello")
    break

hello

In [185]:
while True:
    user_input = input("What do you want to do? quit or continue?")
    if user_input.lower() == "quit":
        break
    if user_input.lower()=="continue":
        print("you said continue")
    print("You didn't type quit")

What do you want to do? quit or continue?steve
You didn't type quit
What do you want to do? quit or continue?continue
you said continue
You didn't type quit
What do you want to do? quit or continue?quit

##### While & For Loops Used Together

In [186]:
num = 0
while num < 5:
    print("while loop iteration: ", num)
    for i in range(5):
        print("for loop iteration: ", i)
    num += 1

while loop iteration:  0
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  1
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  2
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  3
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  4
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4

### Built-In Functions

##### range()

In [ ]:
range(start, stop, step)
range(stop)
range(start, stop)

##### len()

In [187]:
len("hey")

3

##### help()

In [188]:
 help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [189]:
num = 1
type(num)

int

In [190]:
isinstance(num, str)

False

In [191]:
isinstance(num, float)

False

In [192]:
isinstance(num, list)

False

In [193]:
isinstance(num, int)

True

##### abs()

In [195]:
# | -5 | = 5 ... dist from zero

print(abs(-5))
print(abs(5))

5
5

### Try and Except

In [204]:
3/0

ZeroDivisionError: division by zero

In [196]:

int("Steve")

ValueError: invalid literal for int() with base 10: 'Steve'

In [209]:
try:
    int("Steve")
    print("it worked")
except ValueError:
    print("you done fed up")
except ZeroDivisionError:
    print("Can't divide by 0")
finally:
    print("okay move along")

you done fed up
okay move along

In [211]:
raise ValueError("Blah")

ValueError: Blah

In [215]:
def divide(num1, num2):
    if num2==0:
        raise ZeroDivisionError
    print(num1/num2)
    

        
divide(1,0)

ZeroDivisionError:

In [ ]:
! - bang, exclamation point
# - pound sign, or hash
[] - brackets
() - parathesis 
{} - braces
#! - shebang
% - grapes
< - angle brackets / greater than or less than
^ carrot

### Lists

##### Declaring Lists

In [216]:
names = ["Kristina", "Frances", "Kenny", "Zak"]
print(names)

['Kristina', 'Frances', 'Kenny', 'Zak']

##### Indexing a List

In [239]:
print(names[2])


a_list = [1,2,3,["a","b","c"],4]
inner_list = a_list[3]
inner_list[1]
a_list[3][1]


names[3]
names[-2]

names[::-1]
my_string="ALEX smells!"
my_string[::-1]


my_string = "racecar"
if my_string == my_string[::-1]:
    print("its apalindrome")

Kenny
its apalindrome

##### .append()

In [276]:

names = ["Kristina", "Frances", "Kenny", "Zak"]

In [277]:
names.append("Eryn")
print(names)

['Kristina', 'Frances', 'Kenny', 'Zak', 'Eryn']

##### .insert()

In [278]:
names.insert(1,"Chelsey")
names

['Kristina', 'Chelsey', 'Frances', 'Kenny', 'Zak', 'Eryn']

##### .pop()

In [279]:
print(names.pop(1).upper()+" is awesome")
names

CHELSEY is awesome

['Kristina', 'Frances', 'Kenny', 'Zak', 'Eryn']


##### .remove()

In [280]:
names

['Kristina', 'Frances', 'Kenny', 'Zak', 'Eryn']

In [281]:
names.append("Zak")
names.remove("Zak")
print(names)

['Kristina', 'Frances', 'Kenny', 'Eryn', 'Zak']

##### del()

In [284]:
names = ["Kristina", "Frances", "Kenny", "Zak"]
del names[1]
names

['Kristina', 'Kenny', 'Zak']

In [285]:
#do NOT use this in a for loop!!!!!!
names = ["Kristina", "Frances", "Kenny", "Zak"]

for i in range(len(names)):
    if i==2:
        del names[i]
    print(print(names[i]))
print(names)

Kristina
None
Frances
None
Zak
None

IndexError: list index out of range

##### Concatenating Two Lists

In [289]:
l1 = [1,2,3]
l2 =[4,5,6]

l1 + l2

[1, 2, 3, 4, 5, 6]

In [290]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

In [291]:
my_nested_list = ["Max", "Sally", "Jason", [1,2,["a","b"],3], "Jessica"]

my_nested_list[3][2][1]

'b'

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>