# Week 2 - Monday Lesson (variable assignment, loops, lists)

##### Assinging float

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [1]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

#### Performing Calculations on ints and floats

##### Addition

In [15]:
print(2+3)

7.7
9.7

##### Subtraction

In [17]:
num1 + 2
num 2 = 5.7

3.7
1.7000000000000002

##### Multiplication

In [2]:
result_prod = num1 +num2
print(result_prod)

NameError: name 'num1' is not defined

##### Division

In [25]:
results_div = 4/2

2.0
1.0

##### Floor Division

In [3]:
result_floor = 5//2
print(result_floor)

2

##### Modulo

In [4]:
result_mod= 5 % 2
print(result_mod)

1

##### Exponential

In [7]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

In [ ]:
cube = 5 **3
cube =

### String Input-Output

##### String Assignment

In [8]:
name = "kevin"
print(name)
name = 'kevin'
print(name)

kevin
kevin

In [10]:
word = "kevin s"
print(word)

word = 'kevin\'s'
print(word)

kevin s
kevin's

In [14]:
line="hey\n there here is a tab \t blah blah new line with space"
print(line)

hey
 there here is a tab 	 blah blah new line with space

##### print() <br>
<p>Don't forget about end=' '</p>

In [18]:
name = "ramika"
print("hey", name, "the dawgs are no good", 'get ready to get stung', sep=" **", end="$$")
print("done")

hey **ramika **the dawgs are no good **get ready to get stung$$done

##### String Concatenation

In [19]:
first = "Grady"
last = "dickerson"
full_name = first + " " + last
print(full_name)
full_name += " is a funny individual"
print(full_name)

Grady dickerson
Grady dickerson is a funny individual

##### Type Conversion

In [21]:
# int() str() list() dict() tuple() set() float()

num1=3
num2= "4"
print(num1 + int(num2))

7

##### input()

In [22]:
age = input("What is your age?")

print(age)

What is your age?21
21

##### format()

In [65]:
age = int(input("What is your age?"))
result_string = 'you are {} years old and you are getting wiser!'.format(age)
print(result_string)

What is your age?27
You are 27 years old and you are getting wiser!
27 is a great time in life

f-strings

In [24]:
age = int(input("what is yourr age? "))
x= " blah blah blah "
result_string = f'you are {age} years old and getting wiser!  {x}'
print(result_string)

what is yourr age? 23
you are 23 years old and getting wiser!   blah blah blah

##### Old Way (python 2)

In [ ]:
! - bang, exclamation point, not
# - pound sign, or hash
[] - 
()- parenthesis
{} - braces

In [23]:
age = 24
result_str = 'you are %s and you look great'%age
print(result_str)

you are 24 and you look great

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [26]:
car =(input("what color is your car?"))
year = int(input("what year was it made?"))
make= (input("what make is it?"))
model = (input("what model is your car?"))
result=f'you drive a {year}{make}{model} in the color {car}'
print(result)

what color is your car?white
what year was it made?1990
what make is it?benz
what model is your car?a class
you drive a 1990benza class in the color white

### If Statements

In [27]:
5 == 5

True

In [28]:
bool (5)

True

In [29]:
bool ('a string')

True

In [30]:
bool ('')

False

In [31]:
bool(0)

False

In [32]:
bool(1)

True

In [34]:
bool([])

False

In [35]:
bool([1,2,3])

True

In [36]:
not 3>2

False

In [37]:
num1= 2
num2 = 10

if num1 == num2:
    #the code block
    print('equal')
else:
    print('not equal')

not equal

In [40]:
num1 = 20
num2 = 2
if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
else:
    print('equal')

num1 is greater

In [41]:
True and False

False

In [42]:
True and True

True

In [43]:
True or True

True

In [44]:
True or False

True

In [47]:
if num2 ==2 or num1 == 15:
    print('yes')
else:
    print('no')

yes

In [54]:
#Ternary Operator ... inline if statements

#[value if true] [if] [boolean] [else] [value if false]

name = "john"
my_num = 5 if name =="steve" else 0
print(my_num)

my_num = 5 if name == "steve" else 10 if name=="john" else 0

0

##### 'is' keyword

In [55]:
# only use when asking is something is None
x = None

print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [56]:
#memberships checks
char_name = "Max Payne"
if "Max" in char_name:
    print("The character who lost everything . . .")

The character who lost everything . . .

##### 'not in' keyword'

In [57]:
sega_char = "Sonic"
if "S" not in sega_char.upper():
    print('s is not in the name . . . !!')
else:
    print('the word has an S')

the word has an S

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [61]:
name =  input("what is your name? ")
print(name)
if "p" in name:
    print("winner")
else:
    print("loser")

what is your name? pam
pam
winner

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [83]:
# for [placeholder] in [iterable]
name = "Gareth Atkins"

for letter in name:
    print(f"the next letter is {letter}")
    print('another line')
print("a third line")

the next letter is G
another line
the next letter is a
another line
the next letter is r
another line
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
the next letter is
another line
the next letter is A
another line
the next letter is t
another line
the next letter is k
another line
the next letter is i
another line
the next letter is n
another line
the next letter is s
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [88]:
name = "Gareth Atkins"

for letter in name:
    if letter =="r":
        print('THE LETTER IS R')
        continue
    
    print(f"the next letter is {letter}")
    print('another line')

the next letter is G
another line
the next letter is a
another line
THE LETTER IS R
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
the next letter is
another line
the next letter is A
another line
the next letter is t
another line
the next letter is k
another line
the next letter is i
another line
the next letter is n
another line
the next letter is s
another line

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [89]:
for letter in name:
    if letter =="r":
        print('THE LETTER IS R')
        break
    
    print(f"the next letter is {letter}")
    print('another line')

the next letter is G
another line
the next letter is a
another line
THE LETTER IS R

0
1
2
3
4

##### Pass Statement

In [102]:
name = "Gareth Atkins"

for letter in name:
    pass
    
print("rest of program")

#important to remember indent position when printing

rest of program

In [98]:
foods = ['pizza','tacos','dimsum','sushi']

In [96]:
for food in foods:
    print(food)
    print(type(food))

pizza
<class 'str'>
tacos
<class 'str'>
123
<class 'int'>
dimsum
<class 'str'>
sushi
<class 'str'>

In [99]:
len(foods)

4

In [100]:
list(range(4))

[0, 1, 2, 3]

In [101]:
for index in range(len(foods)):
    print(index)
    print(foods[index])

0
pizza
1
tacos
2
dimsum
3
sushi

In [104]:
x, y = (1,2)
print(x)
print(y)

1
2

In [103]:
for tuple in enumerate(foods):
    print(tuple)

(0, 'pizza')
(1, 'tacos')
(2, 'dimsum')
(3, 'sushi')

In [105]:
for index, food in enumerate(foods):
    print("at index", index, "is the food", food)

at index 0 is the food pizza
at index 1 is the food tacos
at index 2 is the food dimsum
at index 3 is the food sushi

##### Double For Loops

In [107]:
counter = 0

for i in range(5):
    for j in range(5):
        counter+=1
        print(f"i={i} j={j} total={counter}")
    print()

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [5]:
# while [boolean]:
    #do this codeblock

In [108]:
num = 0
while num < 10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [111]:
while True:
    print("Hello")
    num=int(input("guess magic number?"))
    if num==5:
        break

Hello
guess magic number?5

In [112]:
while True:
    user_input = input("what do you want to do? quit or continue")
    if user_input.lower() == "quit":
        break
    if user_input.lower()=="continue":
        print("you said continue")

what do you want to do? quit or continuecontinue
you said continue
what do you want to do? quit or continuedfjl;
what do you want to do? quit or continuequit

##### While & For Loops Used Together

In [ ]:
num = 0
total = 0

while num < 5:
    print("while loop iteration", num)
    for i in range(5):
        total +=1
        print("for loop iteration: ", i)
        print

### Built-In Functions

##### range()

In [113]:
#range(start, stop, step)
#range(stop)
#range(start, stop)

list(range(0,4,1))

[0, 1, 2, 3]

In [114]:
list(range(4))

[0, 1, 2, 3]

In [115]:
list(range(0,4))

[0, 1, 2, 3]

##### len()

In [116]:
len('hey')
len(str(1234))

4

##### help()

In [117]:
 
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [118]:
num=1
isinstance(num,str)

False

In [119]:
isinstance(num,float)

False

In [120]:
isinstance(num,list)

False

In [121]:
isinstance(num,int)

True

##### abs()

In [123]:
# | -5| = 5 . . . dist from zero

print(abs(-5))
print(abs(5))

5
5

### Try and Except

### Lists

##### Declaring Lists

In [63]:
names = ["adam", "brent","ash","cory"]
print(names)

['adam', 'brent', 'ash', 'cory']

##### Indexing a List

In [69]:
print(names[3])

a_list=[1,2,3,["a","b","c"],4]

inner_list = a_list[3]

print(inner_list[1])

print(type(a_list[3]))
print(a_list[3][1])
print(type(a_list[3][1]))

a_list[4]
a_list[-1]

cory
b
<class 'list'>
b
<class 'str'>

4

In [70]:
names = ["adam", "brent","ash","cory"]

print(names[::-1])

['cory', 'ash', 'brent', 'adam']

##### .append()

In [71]:
names = ["adam", "brent","ash","cory"]
names.append("ramika")
print(names)

['adam', 'brent', 'ash', 'cory', 'ramika']

##### .insert()

In [74]:
names.insert(2, "sabrina")
print(names)

['adam', 'brent', 'sabrina', 'sabrina', 'sabrina', 'ash', 'cory', 'ramika']

##### .pop()

In [75]:
new_class=[]
new_class.append(names.pop())
print(names)
print(new_class)

['adam', 'brent', 'sabrina', 'sabrina', 'sabrina', 'ash', 'cory']
['ramika']


##### .remove()

In [78]:

names.remove("sabrina")
names

['adam', 'brent', 'ash', 'cory']

##### del()

In [79]:
del names[1]
print(names)

['adam', 'ash', 'cory']

In [80]:
#do not use del in for loop

names = ["adam", "brent","ash","cory"]

for i in range(len(names)):
    print(names[i])
    if i==2:
        del names[i]
print(names)

adam
brent
ash

IndexError: list index out of range

##### Concatenating Two Lists

In [81]:
l1 = [1,2,3]
l2 = [4,5,6]
l1 + l2

[1, 2, 3, 4, 5, 6]

In [82]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [ ]:
num = 1
while num < 1000:
    print(num**3)
    num += 1

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>